ARCGISMAP_KEY=your_arcgis_api_keu
ARCGIS_GEOCODE_SUGGEST_URL=your_arcgis_geo_code_suggest_url
ARCGIS_GEOCODE_FIND_CANDIDATE=your_arcgis_geo_code_find_candidate_url
ARCGIS_GEOCODE_REVERSE_CODE=your_arcgis_geo_code_reverse_code_url